<a href="https://colab.research.google.com/github/guscldns/flsh/blob/main/data/flsh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## json 라벨 파일 불러오기

In [ ]:
import json
import pandas as pd

In [ ]:
with open('C:/Users/guscldns/Downloads/dataset/labels/train.json','r') as json_file:
    label = json.load(json_file)

## 데이터 정제

### 데이터 확인

In [ ]:
label.keys()

dict_keys(['images', 'annotations', 'categories'])

In [ ]:
label['images'][0]

{'id': 1,
 'width': 640,
 'height': 480,
 'file_name': 'train_0.png',
 'license': 0,
 'flickr_url': '',
 'coco_url': '',
 'date_captured': 0}

In [ ]:
label['annotations'][0]

{'id': 1,
 'image_id': 1,
 'category_id': 3,
 'segmentation': [],
 'area': 40939.4791,
 'bbox': [37.98, 209.94, 369.19, 110.89],
 'iscrowd': 0,
 'attributes': {'occluded': False, 'rotation': 0.0}}

In [ ]:
label['categories'][0]

{'id': 0, 'name': '농어', 'supercategory': ''}

In [ ]:
print(len(label['images']), len(label['annotations']), len(label['categories']))

104875 6301 8

### 데이터프레임으로 변환

In [ ]:
df = pd.DataFrame(label['images'])
df

,id,width,height,file_name,license,flickr_url,coco_url,date_captured
0,1,640,480,train_0.png,0,,,0
1,3,640,480,train_1.png,0,,,0
2,4,640,480,train_2.png,0,,,0
3,5,640,480,train_3.png,0,,,0
4,6,640,480,train_4.png,0,,,0
...,...,...,...,...,...,...,...,...
104870,149812,640,480,train_104870.png,0,,,0
104871,149813,640,480,train_104871.png,0,,,0
104872,149814,640,480,train_104872.png,0,,,0
104873,149815,640,480,train_104873.png,0,,,0
104874,149816,640,480,train_104874.png,0,,,0

In [ ]:
an = pd.DataFrame(label['annotations'])
an

,id,image_id,category_id,segmentation,area,bbox,iscrowd,attributes
0,1,1,3,[],40939.4791,"[37.98, 209.94, 369.19, 110.89]",0,"{'occluded': False, 'rotation': 0.0}"
1,5,283,5,[],50205.8704,"[57.07, 247.17, 384.16, 130.69]",0,"{'occluded': False, 'rotation': 0.0}"
2,6,284,5,[],58850.5182,"[96.59, 236.87, 427.01, 137.82]",0,"{'occluded': False, 'rotation': 0.0}"
3,7,292,5,[],62936.7565,"[154.41, 254.3, 467.41, 134.65]",0,"{'occluded': False, 'rotation': 0.0}"
4,11,297,5,[],70061.3550,"[26.18, 222.61, 409.5, 171.09]",0,"{'occluded': False, 'rotation': 0.0}"
...,...,...,...,...,...,...,...,...
6296,8958,149637,3,[],35322.5680,"[35.18, 94.18, 347.8, 101.56]",0,"{'occluded': False, 'rotation': 0.0}"
6297,8959,149677,6,[],35145.8160,"[52.77, 93.05, 300.7, 116.88]",0,"{'occluded': False, 'rotation': 0.0}"
6298,8960,149678,6,[],35356.5710,"[285.39, 78.86, 296.74, 119.15]",0,"{'occluded': False, 'rotation': 0.0}"
6299,8962,149790,0,[],26736.6856,"[255.89, 216.74, 263.26, 101.56]",0,"{'occluded': False, 'rotation': 0.0}"
6300,8963,149791,0,[],14874.5205,"[476.03, 241.7, 162.83, 91.35]",0,"{'occluded': False, 'rotation': 0.0}"

In [ ]:
cate = pd.DataFrame(label['categories'])
cate

   id name supercategory
0   0   농어
1   1   베스
2   2   숭어
3   3  강준치
4   4  블루길
5   5   잉어
6   6   붕어
7   7   누치

### 데이터 프레임 합치기

In [ ]:
# 물고기 있는 데이터와 라벨 값 데이터 프레임 합치기
tr = an.merge(cate, left_on='category_id', right_on='id', how='left')
tr

,id_x,image_id,category_id,segmentation,area,bbox,iscrowd,attributes,id_y,name,supercategory
0,1,1,3,[],40939.4791,"[37.98, 209.94, 369.19, 110.89]",0,"{'occluded': False, 'rotation': 0.0}",3,강준치,
1,5,283,5,[],50205.8704,"[57.07, 247.17, 384.16, 130.69]",0,"{'occluded': False, 'rotation': 0.0}",5,잉어,
2,6,284,5,[],58850.5182,"[96.59, 236.87, 427.01, 137.82]",0,"{'occluded': False, 'rotation': 0.0}",5,잉어,
3,7,292,5,[],62936.7565,"[154.41, 254.3, 467.41, 134.65]",0,"{'occluded': False, 'rotation': 0.0}",5,잉어,
4,11,297,5,[],70061.3550,"[26.18, 222.61, 409.5, 171.09]",0,"{'occluded': False, 'rotation': 0.0}",5,잉어,
...,...,...,...,...,...,...,...,...,...,...,...
6296,8958,149637,3,[],35322.5680,"[35.18, 94.18, 347.8, 101.56]",0,"{'occluded': False, 'rotation': 0.0}",3,강준치,
6297,8959,149677,6,[],35145.8160,"[52.77, 93.05, 300.7, 116.88]",0,"{'occluded': False, 'rotation': 0.0}",6,붕어,
6298,8960,149678,6,[],35356.5710,"[285.39, 78.86, 296.74, 119.15]",0,"{'occluded': False, 'rotation': 0.0}",6,붕어,
6299,8962,149790,0,[],26736.6856,"[255.89, 216.74, 263.26, 101.56]",0,"{'occluded': False, 'rotation': 0.0}",0,농어,
6300,8963,149791,0,[],14874.5205,"[476.03, 241.7, 162.83, 91.35]",0,"{'occluded': False, 'rotation': 0.0}",0,농어,

In [ ]:
df_1 = df.copy()
label_df = df_1.merge(tr, left_on='id', right_on='image_id', how='left')
label_df

,id,width,height,file_name,license,flickr_url,coco_url,date_captured,id_x,image_id,category_id,segmentation,area,bbox,iscrowd,attributes,id_y,name,supercategory
0,1,640,480,train_0.png,0,,,0,1.0,1.0,3.0,[],40939.4791,"[37.98, 209.94, 369.19, 110.89]",0.0,"{'occluded': False, 'rotation': 0.0}",3.0,강준치,
1,3,640,480,train_1.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,640,480,train_2.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,640,480,train_3.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,640,480,train_4.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105610,149812,640,480,train_104870.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105611,149813,640,480,train_104871.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105612,149814,640,480,train_104872.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105613,149815,640,480,train_104873.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105614,149816,640,480,train_104874.png,0,,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 데이터 정보 확인
label_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105615 entries, 0 to 105614
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             105615 non-null  int64
 1   width          105615 non-null  int64
 2   height         105615 non-null  int64
 3   file_name      105615 non-null  object
 4   license        105615 non-null  int64
 5   flickr_url     105615 non-null  object
 6   coco_url       105615 non-null  object
 7   date_captured  105615 non-null  int64
 8   id_x           6301 non-null    float64
 9   image_id       6301 non-null    float64
 10  category_id    6301 non-null    float64
 11  segmentation   6301 non-null    object
 12  area           6301 non-null    float64
 13  bbox           6301 non-null    object
 14  iscrowd        6301 non-null    float64
 15  attributes     6301 non-null    object
 16  id_y           6301 non-null    float64
 17  name           6301 non-null    object
 18  supercategory  6301 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 15.3+ MB

In [ ]:
# # # NaN값 있을때는 nan값 채우거나 삭제해야 int 변환가능(nan = 무한대)
# # NaN값 있을 때
# label_df['image_id'] = label_df['image_id'].fillna(-1).astype(int)
# label_df['image_id'] = label_df['image_id'].astype(int)
# label_df['category_id'] = label_df['category_id'].fillna(-1).astype(int)
# label_df['category_id'] = label_df['category_id'].astype(int)
# label_df['iscrowd'] = label_df['iscrowd'].fillna(-1).astype(int)
# label_df['iscrowd'] = label_df['iscrowd'].astype(int)
# label_df

# Nan 값 삭제
label_df = label_df.dropna()

In [ ]:
# NaN값 없을 때
label_df['image_id'] = label_df['image_id'].astype(int)
label_df['category_id'] = label_df['category_id'].astype(int)
label_df['iscrowd'] = label_df['iscrowd'].astype(int)
label_df

C:\Users\guscldns\AppData\Local\Temp\ipykernel_7412\4027806709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_df['image_id'] = label_df['image_id'].astype(int)
C:\Users\guscldns\AppData\Local\Temp\ipykernel_7412\4027806709.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_df['category_id'] = label_df['category_id'].astype(int)
C:\Users\guscldns\AppData\Local\Temp\ipykernel_7412\4027806709.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label_df['iscrowd'] = label_df['iscrowd'].astype(int)

,id,width,height,file_name,license,flickr_url,coco_url,date_captured,id_x,image_id,category_id,segmentation,area,bbox,iscrowd,attributes,id_y,name,supercategory
0,1,640,480,train_0.png,0,,,0,1.0,1,3,[],40939.4791,"[37.98, 209.94, 369.19, 110.89]",0,"{'occluded': False, 'rotation': 0.0}",3.0,강준치,
185,283,640,480,train_185.png,0,,,0,5.0,283,5,[],50205.8704,"[57.07, 247.17, 384.16, 130.69]",0,"{'occluded': False, 'rotation': 0.0}",5.0,잉어,
186,284,640,480,train_186.png,0,,,0,6.0,284,5,[],58850.5182,"[96.59, 236.87, 427.01, 137.82]",0,"{'occluded': False, 'rotation': 0.0}",5.0,잉어,
192,292,640,480,train_192.png,0,,,0,7.0,292,5,[],62936.7565,"[154.41, 254.3, 467.41, 134.65]",0,"{'occluded': False, 'rotation': 0.0}",5.0,잉어,
194,297,640,480,train_194.png,0,,,0,11.0,297,5,[],70061.3550,"[26.18, 222.61, 409.5, 171.09]",0,"{'occluded': False, 'rotation': 0.0}",5.0,잉어,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105495,149637,640,480,train_104755.png,0,,,0,8958.0,149637,3,[],35322.5680,"[35.18, 94.18, 347.8, 101.56]",0,"{'occluded': False, 'rotation': 0.0}",3.0,강준치,
105524,149677,640,480,train_104784.png,0,,,0,8959.0,149677,6,[],35145.8160,"[52.77, 93.05, 300.7, 116.88]",0,"{'occluded': False, 'rotation': 0.0}",6.0,붕어,
105525,149678,640,480,train_104785.png,0,,,0,8960.0,149678,6,[],35356.5710,"[285.39, 78.86, 296.74, 119.15]",0,"{'occluded': False, 'rotation': 0.0}",6.0,붕어,
105596,149790,640,480,train_104856.png,0,,,0,8962.0,149790,0,[],26736.6856,"[255.89, 216.74, 263.26, 101.56]",0,"{'occluded': False, 'rotation': 0.0}",0.0,농어,
105597,149791,640,480,train_104857.png,0,,,0,8963.0,149791,0,[],14874.5205,"[476.03, 241.7, 162.83, 91.35]",0,"{'occluded': False, 'rotation': 0.0}",0.0,농어,

In [ ]:
print(label_df['iscrowd'].value_counts(),
      label_df['segmentation'].value_counts(),
      label_df['coco_url'].value_counts(),
      label_df['flickr_url'].value_counts(),
      label_df['date_captured'].value_counts(),
      label_df['license'].value_counts(),
      label_df['supercategory'].value_counts())

iscrowd
0    6301
Name: count, dtype: int64 segmentation
[]    6301
Name: count, dtype: int64 coco_url
    6301
Name: count, dtype: int64 flickr_url
    6301
Name: count, dtype: int64 date_captured
0    6301
Name: count, dtype: int64 license
0    6301
Name: count, dtype: int64 supercategory
    6301
Name: count, dtype: int64

In [ ]:
label_total = label_df.drop(['license', 'flickr_url', 'coco_url', 'date_captured','id_x', 'id_y', 'image_id', 'segmentation', 'iscrowd', 'supercategory'], axis=1)  # 또는 label_df = label_df.drop(columns=['flickr_url'], axis=1)
label_total

,id,width,height,file_name,category_id,area,bbox,attributes,name
0,1,640,480,train_0.png,3,40939.4791,"[37.98, 209.94, 369.19, 110.89]","{'occluded': False, 'rotation': 0.0}",강준치
185,283,640,480,train_185.png,5,50205.8704,"[57.07, 247.17, 384.16, 130.69]","{'occluded': False, 'rotation': 0.0}",잉어
186,284,640,480,train_186.png,5,58850.5182,"[96.59, 236.87, 427.01, 137.82]","{'occluded': False, 'rotation': 0.0}",잉어
192,292,640,480,train_192.png,5,62936.7565,"[154.41, 254.3, 467.41, 134.65]","{'occluded': False, 'rotation': 0.0}",잉어
194,297,640,480,train_194.png,5,70061.3550,"[26.18, 222.61, 409.5, 171.09]","{'occluded': False, 'rotation': 0.0}",잉어
...,...,...,...,...,...,...,...,...,...
105495,149637,640,480,train_104755.png,3,35322.5680,"[35.18, 94.18, 347.8, 101.56]","{'occluded': False, 'rotation': 0.0}",강준치
105524,149677,640,480,train_104784.png,6,35145.8160,"[52.77, 93.05, 300.7, 116.88]","{'occluded': False, 'rotation': 0.0}",붕어
105525,149678,640,480,train_104785.png,6,35356.5710,"[285.39, 78.86, 296.74, 119.15]","{'occluded': False, 'rotation': 0.0}",붕어
105596,149790,640,480,train_104856.png,0,26736.6856,"[255.89, 216.74, 263.26, 101.56]","{'occluded': False, 'rotation': 0.0}",농어
105597,149791,640,480,train_104857.png,0,14874.5205,"[476.03, 241.7, 162.83, 91.35]","{'occluded': False, 'rotation': 0.0}",농어

In [ ]:
label_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6301 entries, 0 to 105597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           6301 non-null   int64
 1   width        6301 non-null   int64
 2   height       6301 non-null   int64
 3   file_name    6301 non-null   object
 4   category_id  6301 non-null   int32
 5   area         6301 non-null   float64
 6   bbox         6301 non-null   object
 7   attributes   6301 non-null   object
 8   name         6301 non-null   object
dtypes: float64(1), int32(1), int64(3), object(4)
memory usage: 467.7+ KB

In [ ]:
label_total.to_csv(r'C:\Users\guscldns\Downloads\dataset\label_total.csv', index=False)

## 라벨있는 이미지만 따로 저장

In [ ]:
import pandas as pd
import os
import shutil

# # 이미지를 저장할 디렉토리 생성
# output_directory = 'labeled_images'
# os.makedirs(output_directory, exist_ok=True)

# 데이터 프레임 반복
for index, row in label_total.iterrows():
    label = row['file_name']

    image_path = f'C:/Users/guscldns/Downloads/dataset/train/{label}'

    # 이미지 복사할 경로
    if label is not None:
        output_path = os.path.join('C:/Users/guscldns/Downloads/dataset/labeled_images', label)
        shutil.copy(image_path, output_path)

print('라벨이 있는 이미지 저장이 완료되었습니다.')

라벨이 있는 이미지 저장이 완료되었습니다.

In [ ]:
import cv2
import os
import pandas as pd
import numpy as np

# 이미지 폴더 경로
image_folder = 'C:/Users/guscldns/Downloads/dataset/labeled_images'

# 빈 리스트를 생성하여 모든 디스크립터를 저장할 준비를 합니다.
all_descriptors = []

# 이미지 폴더의 이미지를 하나씩 처리합니다.
for image_name in os.listdir(image_folder):
    image_path = os.path.join(image_folder, image_name)
    image = cv2.imread(image_path, cv2.IMREAD_GRAYSCALE)

    # SIFT 객체 생성
    sift = cv2.SIFT_create()

    # 키 포인트와 디스크립터 추출
    keypoints, descriptors = sift.detectAndCompute(image, None)

    # 현재 이미지의 디스크립터를 모든 디스크립터 리스트에 추가
    all_descriptors.append(descriptors)

# 모든 디스크립터를 하나의 Numpy 배열로 병합
all_descriptors_array = np.vstack(all_descriptors)

# Numpy 배열을 데이터프레임으로 변환
descriptor_df = pd.DataFrame(all_descriptors_array)

# 결과 데이터프레임 출력
print(descriptor_df)

         0     1     2     3     4     5     6     7      8     9    ...  \
0        3.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0   39.0   0.0  ...
1        0.0   0.0   0.0   0.0   0.0   1.0   6.0   5.0    7.0   0.0  ...
2       42.0  45.0   9.0   0.0   0.0   0.0   0.0   4.0   34.0  54.0  ...
3        3.0   0.0   0.0   0.0   0.0   0.0   2.0  15.0   49.0   0.0  ...
4       61.0  15.0   0.0   0.0   0.0   0.0   0.0   6.0  142.0  50.0  ...
...      ...   ...   ...   ...   ...   ...   ...   ...    ...   ...  ...
687376   5.0   1.0   0.0   0.0   0.0   0.0   1.0   3.0    6.0   1.0  ...
687377  16.0   5.0  19.0  15.0   2.0   1.0   0.0   5.0  148.0  23.0  ...
687378   2.0   0.0   1.0   0.0   0.0   0.0  74.0  92.0   56.0  34.0  ...
687379   0.0   0.0   0.0   2.0  57.0  11.0   0.0   0.0   64.0   2.0  ...
687380   0.0   0.0   0.0   2.0  73.0  13.0   0.0   0.0   32.0   0.0  ...

         118   119   120   121    122    123   124   125   126  127
0        0.0   7.0  17.0   2.0    0.0    0.0   1.0   2.0   1.0  7.0
1        0.0   0.0   0.0   9.0   32.0   10.0   0.0   0.0   0.0  0.0
2        7.0   6.0   0.0   0.0    0.0   12.0  39.0   3.0   0.0  0.0
3        4.0   3.0   0.0   0.0    0.0    0.0   3.0   4.0   0.0  0.0
4       26.0  14.0   2.0   1.0    1.0    8.0  53.0  55.0  15.0  1.0
...      ...   ...   ...   ...    ...    ...   ...   ...   ...  ...
687376   2.0   3.0   3.0   2.0    0.0    0.0   1.0   3.0  10.0  3.0
687377   0.0   0.0   1.0   2.0    5.0    1.0   0.0   0.0   0.0  0.0
687378   0.0   6.0   4.0   9.0  157.0  105.0   0.0   0.0   0.0  0.0
687379   4.0  18.0  70.0  48.0    0.0    0.0   0.0   0.0   0.0  0.0
687380   1.0  21.0  77.0  25.0    0.0    0.0   0.0   0.0   0.0  1.0

[687381 rows x 128 columns]

In [ ]:
import cv2
import os
import pandas as pd
import numpy as np

# 이미지 폴더 경로
image_folder = 'C:/Users/guscldns/Downloads/dataset/labeled_images'

# 빈 리스트를 생성하여 모든 디스크립터를 저장할 준비를 합니다.
all_descriptors = []

# 이미지 폴더의 이미지를 하나씩 처리합니다.
for image_name in os.listdir(image_folder):
    image_path = os.path.join(image_folder, image_name)
    image = cv2.imread(image_path, cv2.IMREAD_GRAYSCALE)

    # SIFT 객체 생성
    sift = cv2.SIFT_create()

    # 키 포인트와 디스크립터 추출
    keypoints, descriptors = sift.detectAndCompute(image, None)

    # 현재 이미지의 디스크립터를 모든 디스크립터 리스트에 추가
    all_descriptors.append(descriptors)

# 모든 디스크립터를 하나의 Numpy 배열로 병합
all_descriptors_array = np.vstack(all_descriptors)

# Numpy 배열을 데이터프레임으로 변환
descriptor_df = pd.DataFrame(all_descriptors_array)

# 결과 데이터프레임 출력
print(descriptor_df)

         0     1     2     3     4     5     6     7      8     9    ...  \
0        3.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0   39.0   0.0  ...
1        0.0   0.0   0.0   0.0   0.0   1.0   6.0   5.0    7.0   0.0  ...
2       42.0  45.0   9.0   0.0   0.0   0.0   0.0   4.0   34.0  54.0  ...
3        3.0   0.0   0.0   0.0   0.0   0.0   2.0  15.0   49.0   0.0  ...
4       61.0  15.0   0.0   0.0   0.0   0.0   0.0   6.0  142.0  50.0  ...
...      ...   ...   ...   ...   ...   ...   ...   ...    ...   ...  ...
687376   5.0   1.0   0.0   0.0   0.0   0.0   1.0   3.0    6.0   1.0  ...
687377  16.0   5.0  19.0  15.0   2.0   1.0   0.0   5.0  148.0  23.0  ...
687378   2.0   0.0   1.0   0.0   0.0   0.0  74.0  92.0   56.0  34.0  ...
687379   0.0   0.0   0.0   2.0  57.0  11.0   0.0   0.0   64.0   2.0  ...
687380   0.0   0.0   0.0   2.0  73.0  13.0   0.0   0.0   32.0   0.0  ...

         118   119   120   121    122    123   124   125   126  127
0        0.0   7.0  17.0   2.0    0.0    0.0   1.0   2.0   1.0  7.0
1        0.0   0.0   0.0   9.0   32.0   10.0   0.0   0.0   0.0  0.0
2        7.0   6.0   0.0   0.0    0.0   12.0  39.0   3.0   0.0  0.0
3        4.0   3.0   0.0   0.0    0.0    0.0   3.0   4.0   0.0  0.0
4       26.0  14.0   2.0   1.0    1.0    8.0  53.0  55.0  15.0  1.0
...      ...   ...   ...   ...    ...    ...   ...   ...   ...  ...
687376   2.0   3.0   3.0   2.0    0.0    0.0   1.0   3.0  10.0  3.0
687377   0.0   0.0   1.0   2.0    5.0    1.0   0.0   0.0   0.0  0.0
687378   0.0   6.0   4.0   9.0  157.0  105.0   0.0   0.0   0.0  0.0
687379   4.0  18.0  70.0  48.0    0.0    0.0   0.0   0.0   0.0  0.0
687380   1.0  21.0  77.0  25.0    0.0    0.0   0.0   0.0   0.0  1.0

[687381 rows x 128 columns]

In [ ]:
descriptor_df.to_csv(r'C:\Users\guscldns\Downloads\dataset\descriptor_df.csv', index=False)

In [ ]:
import cv2
import numpy as np
import pandas as pd

def extract_features(image):
    # 이미지를 그레이스케일로 변환합니다.
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    # 색상 특성 추출
    mean_color = np.mean(image, axis=(0, 1)) # RGB 색상 평균 계산
    std_color = np.std(image, axis=(0, 1))  # RGB 색상 표준 편차 계산
    max_color = np.max(image, axis=(0, 1))  # RGB 색상 최댓값 계산
    mode_color = np.argmax(np.bincount(image.reshape(-1, 3).astype(int)), axis=0)  # RGB 색상 최빈값 계산

    # 밝기 특성 추출
    mean_brightness = np.mean(gray)
    std_brightness = np.std(gray)

    # 명암 특성 추출
    laplacian = cv2.Laplacian(gray, cv2.CV_64F).var()
    hist = cv2.calcHist([gray], [0], None, [256], [0, 256]) # 명암 히스토그램

    # 크기 특성 추출
    size = image.shape[0] * image.shape[1]

    # 추출한 특성을 딕셔너리로 저장하여 반환합니다.
    features = {'mean_color': mean_color, 'std_color': std_color, 'max_color': max_color, 'mode_color': mode_color,
                'mean_brightness': mean_brightness, 'std_brightness': std_brightness, 'laplacian': laplacian,
                'histogram': hist, 'size': size}
    return features


# 주어진 데이터프레임에서 bbox 좌표와 파일명을 가져옵니다.
bbox_df = label_total[['bbox', 'file_name']]

# 새로운 데이터프레임을 저장할 리스트를 생성합니다.
new_df = []

# 각 이미지에 대해 물고기의 특성을 추출합니다.
for index, row in bbox_df.iterrows():
    # 이미지 파일을 읽어옵니다.
    image_path = f"C:/Users/guscldns/Downloads/dataset/labeled_images/{row['file_name']}"
    image = cv2.imread(image_path)

    # bbox 좌표를 가져옵니다.
    bbox = row['bbox']
    x, y, width, height = map(int, bbox)

    # bbox 영역에서 물고기를 추출합니다.
    fish_roi = image[y:y+height, x:x+width]

    # 물고기의 특성을 추출하여 수치화합니다.
    feature = extract_features(fish_roi)

    # 새로운 데이터프레임에 특성과 파일명을 추가합니다.
    new_row = {'file_name': row['file_name']}
    new_row.update(feature)
    new_df.append(new_row)

# 새로운 데이터프레임을 생성합니다.
new_df = pd.DataFrame(new_df)

NameError: name 'label_total' is not defined

In [ ]:
new_df

In [ ]:
new_df

,file_name,mean_color,std_color,mean_brightness,std_brightness,laplacian,histogram,size
0,train_0.png,"[114.95548164572554, 117.9509238728751, 115.95...","[41.856159959046714, 41.84110131273659, 41.853...",116.952377,41.845879,95.413328,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",40590
1,train_185.png,"[113.11548477564102, 116.11548477564102, 114.1...","[36.263448331635274, 36.263448331635274, 36.26...",115.115485,36.263448,22.883713,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",49920
2,train_186.png,"[115.60718986649344, 118.60718986649344, 116.6...","[36.23851703680352, 36.23851703680352, 36.2385...",117.607190,36.238517,29.827054,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",58499
3,train_192.png,"[78.69860014701652, 81.36311483268881, 79.5846...","[43.32026222968339, 43.92681220118738, 43.5249...",80.475183,43.722873,95.646455,"[[6176.0], [573.0], [110.0], [81.0], [83.0], [...",62578
4,train_194.png,"[148.7306938903902, 145.5750868614078, 151.777...","[29.48146565102089, 31.598587026316256, 35.891...",147.772302,32.202927,28.565256,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",69939
...,...,...,...,...,...,...,...,...
6296,train_104755.png,"[101.38183011384712, 104.38154478272034, 102.3...","[35.391739679217196, 35.3905164925212, 35.3916...",103.381659,35.391004,19.527381,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",35047
6297,train_104784.png,"[162.871091954023, 155.16741379310344, 158.814...","[15.892888345328311, 17.991334637740415, 22.97...",157.147644,18.821679,5.963897,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",34800
6298,train_104785.png,"[170.97910515557575, 166.8115489439019, 172.70...","[14.282340668791319, 7.791137553526598, 11.904...",169.011867,8.828641,5.787606,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",35224
6299,train_104856.png,"[89.17723901667733, 92.17723901667733, 90.1772...","[9.415452097288997, 9.415452097288997, 9.41545...",91.177239,9.415452,3.706090,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",26563
6300,train_104857.png,"[70.21937321937322, 73.21937321937322, 71.2193...","[10.23504977328682, 10.23504977328682, 10.2350...",72.219373,10.235050,11.156794,"[[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0....",14742

In [ ]:
new_df.to_csv(r'C:\Users\guscldns\Downloads\dataset\new_df.csv', index=False)